@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Aref+Ruqaa:wght@700&display=swap');
.Recommendation-style{
    display: flex;
    flex-direction: row;
    background-color: #fc7b53;
}
.Recommendation-style-part-one{
    width: 40%;
}
.Recommendation-style-part-two{
    width: 50%;
    color: white;
    text-align: right;
}
.Recommendation-style-part-two  h3{
    color: #108994;
    font-family: 'Amiri', serif;
}